<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/css/reset.css">
        <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic+Coding&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/font.css">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Blacklamp</title>
    </head>
    <body style="background-color : #e9ecef;">
        <div class="wrapper">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                        <a class="navbar-brand" href="#">
                            <img src="/img/blacklamp.png" width="30" height="30" class="d-inline-block align-top" alt="" style="border-radius : 4px;">
                            Blacklamp
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                                <li class="nav-item active">
                                    <a class="nav-link" href="http://black.lampstudio.xyz/">홈 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="<%= alink %>"><%= username %></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link disabled" href="http://black.lampstudio.xyz/partypost/create" tabindex="-1" aria-disabled="true">파티 포스트 생성</a>
                                </li>
                            </ul>
                            <div class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2" type="search" placeholder="프로필 검색, 사용자의 이름을 입력해 주세요." id="username">
                                <button class="btn btn-outline-success my-2 my-sm-0" type="button" onclick="goToProfile();">검색</button>
                            </div>
                        </div>
                    </nav>
            <div class="container">
                <div class="jumbotron">
                    <h1 class="display-4"><%= jtitle %></h1>
                    <p class="lead"><%= jd1 %></p>
                    <hr class="my-4">
                    <p><%= jd2 %></p>
                    <a class="btn btn-primary btn-lg" href="<%= jlink %>" role="button"><%= jbtn %></a>
                </div>
                <div class="page">
                    <div class="title">
                    </div>
                    <div class="ppost" id="ppost"></div>                  
                </div>
            </div>
        </div>
        <script src="/js/getppost.js">
            
        </script>
        <script src="/js/profile.js"></script>
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        
        <script>
            $().ready(function(){
                getPartyPost();
            });
        </script>
    </body>
</html>
